<%- include('./layout/header.ejs')  %> 
<link href="/css/home.css" rel="stylesheet" >
<link href="/css/todo.css" rel="stylesheet" >
</head>
<body>
    <%- include('./layout/nav.ejs')  %> 
    <div class="container">
        <% if(message){ %>
            <div class="alert <%= message.type %> ">
                <strong><%= message.type  %>!</strong> <%= message.detail %> 
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            </div>
        <% } %>  
        <div class="options">
            <a class="switches<% if(url==='/'){ %> focused<% } %>" href="/">Add New</a>
            <a class="switches<% if(url==='/search'){ %> focused<% } %>" href="/search">Search</a>
            <a class="switches<% if(url.includes('/filter')){ %> focused<% } %>" href="/filter/all">Filter</a>
        </div>
        <% if(url==='/'){ %> 
        <form class="form" action="/add-todo" method="post">
            <!-- <div class="atitle"></div> -->
                <input type="text" class="input" name="title" />
                <input type="submit" class="add" value="Add Todo" />
            <!-- <div class="date-div">
                <label>Deadline :</label>
                <input type="date" class="date" id="deadline" name="deadline">
            </div> -->
        </form>
        <% }else if(url==='/search'){ %> 
        <form class="form" action="/search" method="post">
            <input type="text" class="input" name="search" />
            <input type="submit" class="add" value="Search Todo" />
        </form>
        <% if(url==='/search'){ %>
            <% if(searched){ %> 
            <center><h4>Searched :"<%= searched.title  %>" Found : <%= searched.count %> </h4></center> 
        <% } %>
        <% } %> 
        <% } %> 
        <div class="tasks">
            <% if(url.includes('/filter')){ %>
                <div class="filters">
                    <a href="/filter/all" class="<% if(url==='/filter/all'){ %>active<% } %>">All</a>
                    <a href="/filter/pending" class="<% if(url==='/filter/pending'){ %>active<% } %>">Pending</a>
                    <a href="/filter/completed" class="<% if(url==='/filter/completed'){ %>active<% } %>">Completed</a>
                  </div>
            <% } %>  
             
            <% if(todos.length == 0){ %> 
            <div class="task">
                <div>Currently no todos are found.</div>
            </div>
            <% }else{ %> 
            <% for(let todo of todos){ %> 
                <div href="#"class="task <% if(todo.status == 'done'){ %>done-task<% } %>">
                    <% if(todo.status == 'done'){ %> 
                        <!-- <span class="done">&#x2713;</span> -->
                        <% } %> 
                    <div class="line-one">
                        <form method="POST" action="<% if(todo.status == 'pending'){ %>/done/<%= todo._id  %><% }else if(todo.status=='done') {%>/pending/<%= todo._id  %><% } %>">
                            <input class="form-check-input" name="checked" type="checkbox" onChange="this.form.submit()"<% if(todo.status == 'done'){ %>checked<% }%>>
                            <a class="list-title"><%= todo.title  %> </a>
                        </form>
                        <span><a href="/delete/<%= todo._id %>" class="far fa-trash-alt delete"></a></span>
                    </div>
                </div>
            <% } %> 
            <% } %> 
        </div>
        <a href="/delete/all" ><div class="delete-all">Delete all</div></a>
        
    </div>
<%- include('./layout/footer.ejs')  %> 
