<%- include('./layout/header.ejs')  %> 
<link href="/css/home.css" rel="stylesheet" >
</head>
<body>
    <%- include('./layout/nav.ejs')  %> 
    <div class="auth">
        <form class="form" action="/signup" method="POST">
            <% if(message){ %>
                <div class="alert <%= message.type %> ">
                    <strong><%= message.type  %>!</strong> <%= message.detail %> 
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                </div>
            <% } %>  
            <div class="input-field">
                <label><b>User name</b></label><br>
                <input type="text" name="name"/>
            </div>
            <div class="input-field">
                <label><b>Email Id </b></label><span><red>*</red></span><br>
                <input type="text" name="email" required/>
            </div>
            <div class="input-field">
                <label><b>Password </b></label><span><red>*</red></span><br>
                <input type="password" name="password" required/>
            </div>
            <div class="input-field">
                <center><input type="submit" value="Signup"/></center>
            </div>
        </form>
    </div>
<%- include('./layout/footer.ejs')  %> 
